:root{
  --color-first :  #F5EEDC;
  --color-second :  #27548A;
  --color-second-light :  #27548a7d;

  --color-third :  #183B4E;
  --color-fourth :  #064f609f;
  --color-five :  #DDA853;
  --color-mustdo : #e5202044;
  --color-Moderatelly : #B771E5;
  --color-fun : #1DCD9F;
  --color-delegate : #00bcf034;
  --color-fade : #f5eedc3a;
  --color-light-orange : #ffac4786;
  --color-white : #fff;

}

